.user-info
	%p= cart.user.full_name
	%hr
	%p= cart.user.location.description

.purchase-info
	.total-price
		= cart.write_price
		&nbsp;
	.total-products
		= "(#{cart.write_product_total})"

.actions
	= link_to "Ver compra", cart_path(cart.id, from: 'purchases'), class: 'btn btn-primary'
	- if !cart.delivered
		= link_to "Marcar entregado", mark_delivered_cart_path(cart.id), class: 'btn btn-success', method: 'post', remote: true
		= link_to "Cancelar",  "#", class: 'btn btn-danger' 

