.user-info
	%h3= cart.user.full_name
	%p= cart.user.address

.purchase-info
	.total-price
		%h3= monetize(cart.price)
	.total-products
		%p= cart.product_total
		%span.glyphicon.glyphicon-stop
		%span.glyphicon.glyphicon-stop
		%span.glyphicon.glyphicon-stop

.actions
	- if cart.delivered
		%p.success Compra entregada
		
	- elsif cart.cancelled
		%p.danger Compra cancelada
		= link_to "Borrar ahora", pop_up_path(target: delete_cart_path(cart.id), method: 'delete', text: '¿Estás seguro? Recuerda que la compra se borra automáticamente luego de 3 horas.'), class: 'btn btn-primary', remote: true

	= link_to "Ver compra", purchase_path(cart.id), class: 'btn btn-primary'

	- if !cart.delivered && !cart.cancelled
		= link_to "Marcar entregada", pop_up_path(target: mark_delivered_cart_path(cart.id), method: 'post', text: '¿Deseas confirmar la entrega del pedido?'), class: 'btn btn-primary', remote: true
		= link_to "Cancelar", cancel_cart_path(cart.id), class: 'btn btn-danger'