.user-info
	%h3= cart.user.full_name
	%p= cart.user.location.description

.purchase-info
	.total-price
		%h3= cart.write_price
	.total-products
		%p= cart.product_total
		%span.glyphicon.glyphicon-stop
		%span.glyphicon.glyphicon-stop
		%span.glyphicon.glyphicon-stop

.actions
	- if cart.delivered
		%p.success Compra entregada

	= link_to "Ver compra", purchase_path(cart.id), class: 'btn btn-primary'

	- if !cart.delivered
		= link_to "Marcar entregada", pop_up_path(target: mark_delivered_cart_path(cart.id), method: 'post', text: '¿Deseas confirmar la entrega del pedido?'), class: 'btn btn-primary', remote: true
		= link_to "Cancelar", "#", class: 'btn btn-danger'