.item-wrapper{:id => "item#{item.product_id}"}
	.thumb-wrapper
		= image_tag 'ph.jpg', class: 'cart-thumb'

		.cart-counter
			%p= item.amount

		- if item.product.offer
			.cart-price.offer
				%p
					%span.glyphicon.glyphicon-certificate
					= item.product.offer.write_price
		- else
			.cart-price
				%p= item.product.write_price

	- if !confirmed
		.actions
			= link_to add_item_path(product_id: item.product_id, from: "cart"), class: 'btn btn-primary btn-symbol add', method: 'get', remote: true do
				%span.glyphicon.glyphicon-plus
			&nbsp;
			= link_to remove_item_path(product_id: item.product_id, from: "cart"), class: 'btn btn-primary btn-symbol remove', method: 'get', remote: true do
				%span.glyphicon.glyphicon-minus