= provide :title, "Compras de usuarios"

%h3 Compras

= will_paginate previous_label: '<span class="glyphicon glyphicon-chevron-left">', next_label: '<span class="glyphicon glyphicon-chevron-right">'

.purchases
	- if @carts.empty?
		%p No hay ninguna compra confirmada en este momento
	- else
		- @carts.each do |cart|
			- if cart.delivered
				.cart-wrapper.delivered
					= render cart
			- elsif cart.cancelled
				.cart-wrapper.cancelled
					= render cart
			- else
				.cart-wrapper
					= render cart