- provide :title, "Compra"

= link_to purchases_path, class: 'btn btn-primary' do
	Volver

.columns.purchase
	
	.user-info
		%h2= @cart.user.full_name
		%h4= @cart.user.address
		#map{latitude: @cart.user.location.latitude, longitude: @cart.user.location.longitude}

	.cart-info
		%h2
			Total:
			%span.blue#total-price= @cart.write_price

		.actions
			- if !@cart.delivered && !@cart.cancelled
				= link_to pop_up_path(target: mark_delivered_cart_path(@cart.id), method: 'post', text: '¿Deseas confirmar la entrega del pedido?'), class: 'btn btn-success', remote: true do
					%h4 Marcar entregada
				= link_to cancel_cart_path(@cart.id),  class: 'btn btn-danger' do
					%h4 Cancelar compra

			- elsif @cart.delivered
				.success
					%h4 Compra entregada
				= render 'rating_form', cart: @cart

			- elsif @cart.cancelled
				.danger
					%h4 Compra cancelada

		/ ----------------------------------------

		.item-list
			- @cart.items.each do |item|
				= render 'list_item', item: item