- provide :title, "Carro de Compras"

.columns
	.cart-display
		= image_tag 'cart.png', id: "cart"

		- if current_user_admin? && params[:from] == 'purchases'
			= link_to purchases_path do
				%span.glyphicon.glyphicon-chevron-left
				Volver

		.item-container
			- @cart.items.each do |item|
				= render 'item', item: item
			= render 'layouts/aligner'

			.actions
				= link_to "Agregar producto", products_path, class: 'btn btn-primary'

	.cart-info
		%h2
			Total:
			%span.blue#total-price= @cart.write_price

		= link_to confirm_cart_path(params[:id]), class: 'btn btn-primary', id: 'confirm-buy', method: 'post' do
			%h4 Confirmar compra

		.item-list
			%hr
			- @cart.items.each do |item|
				= render 'list_item', item: item

		
