- provide :title, "Carro de Compras"

.columns
	.cart-display
		= image_tag 'cart.png', id: "cart"

		.item-container
			- @cart.each do |item|
				= render 'item', item: item
				
			= render 'layouts/aligner'

	.cart-info
		%h2
			Total:
			%span.blue#total-price= total_price

		= link_to "#", class: 'btn btn-primary', id: 'confirm-buy' do
			%h4 Confirmar compra

		.item-list
			%hr
			- @cart.each do |item|
				= render 'list_item', item: item

		
