- provide :title, "Carro de Compras"

.columns

	.cart-display
		= image_tag 'cart.png', id: "cart"

		.item-container
			- @cart.items.each do |item|
				= render 'item', item: item, confirmed: @cart.confirmed
			= render 'layouts/aligner'

			.actions
				- if !@cart.confirmed
					= link_to "Agregar producto", products_path, class: 'btn btn-primary'


	.cart-info
		%h2
			Total:
			%span.blue#total-price= @cart.write_price

		- if !@cart.confirmed && @cart.items.length != 0
			= link_to pop_up_path(target: mark_confirmed_cart_path(params[:id]), method: 'post', text: '¿Deseas confirmar tu compra? Si olvidaste algo, toca "Cancelar" y modifica tu compra.'), class: 'btn btn-primary', id: 'confirm-buy', remote: true do
				%h4 Confirmar compra
		- elsif @cart.confirmed
			.confirmed
				%h4 Compra confirmada
		
		- if @cart.items.length != 0
			.item-list
				%hr
				- @cart.items.each do |item|
					= render 'list_item', item: item

		
