- provide :title, "Carro de Compras"

.columns
	.cart-display
		= image_tag 'cart.png', id: "cart"

		.item-container
			- @cart.items.each do |item|
				= render 'item', item: item
			= render 'layouts/aligner'

			.actions
				= link_to "Agregar producto", products_path, class: 'btn btn-primary'

	.cart-info
		%h2
			Total:
			%span.blue#total-price= "$ #{@cart.price}"

		= link_to "#", class: 'btn btn-primary', id: 'confirm-buy' do
			%h4 Confirmar compra

		.item-list
			%hr
			- @cart.items.each do |item|
				= render 'list_item', item: item

		
