= provide :title, "Acceso"

%h3 Acceso de Usuarios

.form-wrapper.full-width
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-container
      .field
        = f.label :email
        %br/
        = f.email_field :email, class: 'form-control', autofocus: true
      .field
        = f.label :password
        %br/
        = f.password_field :password, class: 'form-control', autocomplete: "off"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label "Recordarme en esta PC"
      .actions
        = f.submit "Entrar", class: 'btn btn-primary'

= render "devise/shared/links"