.offer-wrapper
	/ = image_tag offer.product.photo.photo.url()
	.offer-thumb-wrapper
		= image_tag 'ph.jpg', class: 'offer-thumb'

	.offer-info
		%h3= offer.product.title

		.offer-prices
			.tag.old-price
				= offer.product.write_price
			.tag.new-price
				%span.glyphicon.glyphicon-certificate
				= offer.write_price

		.offer-options
			= link_to edit_offer_path(offer), class: 'btn btn-primary btn-symbol' do
				%span.glyphicon.glyphicon-pencil
			= link_to offer, method: 'delete', class: 'btn btn-primary btn-symbol', data: { confirm: '¿Seguro desea eliminar esta oferta?' } do
				%span.glyphicon.glyphicon-remove