.product-show
	.thumb
		= image_tag 'ph.jpg'
		/ = image_tag product.photo.photo.url()
	.info
		%h3= product.title
		.offer-prices
			- if product.offer.price
				.tag.old-price
					= product.write_price
				.tag.new-price
					%span.glyphicon.glyphicon-certificate
					= product.offer.write_price
			- else
				.tag.old-price.unstrike
					= product.write_price