= provide :title, 'Nueva oferta'
- content_for :javascript_includes do
	= javascript_include_tag "offer_search/new_search_handler.js"

.rows
	%h3 Nueva oferta

	.offer-form-wrapper
		= render 'search'

		= form_for @offer do |f|

			= f.hidden_field :product_id

			= f.label "Precio de Oferta"
			= f.number_field :price, step: 0.5, class: 'form-control'	

			= f.button :submit, class: 'btn btn-primary' do	
				Crear