<div class="col-xs-12">
	<div id="new-product-form">
		<%= form_for @product, html: { multipart: true }, remote: true do |f|%>

			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

			<%= f.label "Título del producto" %>
			<%= f.text_field :title, class: 'form-control' %>

			<div class="errors" id="product-title-errors"></div>

			<br>

			<%= f.label "Foto" %>
			<%= f.file_field :photo, class: 'form-control' %>

			<div class="errors" id="product-photo-errors"></div>

			<br>

			<%= f.label "Categoría" %>
			<br>
			<% if !@category_id %>
				<!-- If not viewing a category, select to which category the product belongs to -->
				<%= f.select(:category_id) do %>
					<% @categories.each do |cat| -%>
						<%= content_tag(:option, cat.name, value: cat.id, class: 'form-control') %>
					<% end %>
				<% end %>

			<% else %>
				<!-- If viewing a category, create the element directly into it -->
				<%= f.select(:category_id) do %>
					<%= content_tag(:option, @category.name, value: @category_id) %>
				<% end %>

			<% end %>

			<br>
			<br>
			<%= f.submit "Agregar", class: 'btn btn-primary', id: 'create-product' %>
			<%= link_to "Cancelar", "#", class: 'btn btn-primary', id: 'new-product-cancel' %>
		<% end %>
	</div>
</div>