.col-xs-8.col-xs-offset-2
	#new-product-form.row
		/ Info
		.col-xs-6
			= form_for @product, remote: true do |f|
				= hidden_field_tag :authenticity_token, form_authenticity_token

				= f.label "Título del producto"
				= f.text_field :title, class: 'form-control'
				#product-title-errors.errors
				%br/

				= f.label "Categoría"
				%br/
				- if !@category_id
					/ If not viewing a category, select to which category the product belongs to
					= f.select(:category_id) do
						- @categories.each do |cat|
							= content_tag(:option, cat.name, value: cat.id, class: 'form-control')
				- else
					/ If viewing a category, create the element directly into it
					= f.select(:category_id) do
						= content_tag(:option, @category.name, value: @category_id)

				%br
				%br

				= f.button :submit, class: 'btn btn-primary', id: 'next-step' do
					Crear Producto
				= link_to "#", class: 'btn btn-primary', id: 'new-product-cancel' do
					Cancelar

		/ Photo
		.col-xs-6
			= render 'photos/form'