.col-lg-3.clearfix.product-display{:id => "prod#{product.id}"}
	.delete-button
		= link_to "X", product, method: 'delete', data: { confirm: 'Are you sure?' }
	.product-wrapper
		.image-wrapper
			= image_tag product.photo.url()
		.product
			%p.title-display= product.title
			%p.category-display
				Categoría: #{product.category.name}