.product-display{:id => "prod#{product.id}"}
	.product-wrapper
	
		.cart-manage
			- if current_user
				= image_tag 'cart-glow.png'
				= link_to add_item_path(product_id: product.id, from: "products"), class: 'btn btn-primary btn-symbol add', method: 'get', remote: true do
					%span.glyphicon.glyphicon-plus
				&nbsp;
				= link_to remove_item_path(product_id: product.id, from: "products"), class: 'btn btn-primary btn-symbol remove', method: 'get', remote: true do
					%span.glyphicon.glyphicon-minus
			- else
				= link_to new_user_session_path do
					= image_tag 'cart-glow.png'

		.image-wrapper
			= image_tag 'ph.jpg'
			/ = image_tag product.photo.photo.url()

		- if product.offer
			.price.offer
				%p
					%span.glyphicon.glyphicon-certificate
					= product.offer.write_price
		- else
			.price
				%p= product.write_price

		-if current_user
			- if item_amount(product.id) != 0
				.counter
					%p= item_amount(product.id)

		.product
			%p.title-display= product.title
			%p.category-display= product.category.name

		- if current_user_admin?
			.product-options
				/ Offer options
				- if product.offer
					= link_to edit_offer_path(product.offer, product_id: product.id) do
						%span.glyphicon.glyphicon-certificate
				- else
					= link_to new_offer_path(product_id: product.id) do
						%span.glyphicon.glyphicon-certificate

				/ Product edit
				= link_to edit_product_path(product) do
					%span.glyphicon.glyphicon-pencil

				/ Product delete
				= link_to pop_up_path(target: product_path(product.id), method: 'delete', text: '¿Estás seguro de eliminar este producto?'), remote: true do
					%span.glyphicon.glyphicon-remove

					