= provide(:title, 'Productos')
- content_for :javascript_includes do
  = javascript_include_tag "category_tab_listeners.js"

/ Categories
#categories.col-sm-4.col-lg-3
  .category-tab
    %h4 Categorías

  - if !@categories.empty?
    - @categories.each do |category|
      = render category
  - else
    %p No hay ninguna categoría aún
  
  - if current_user_admin?
    .category-add-tab
      = link_to new_category_path, class: 'btn btn-primary btn-symbol', id: 'new-category-btn', remote: true do
        %span.glyphicon.glyphicon-plus
      
/ Products
#products.col-sm-8.col-lg-9
  = render 'search_bar'
  
  .product-index
    - @products.each do |product|
      = render product

  .product-creation
    - if current_user_admin?
      = render 'new_product_btn'