= provide(:title, 'Productos')
  
/ Categories
.columns
  #categories
    .category-tab
      %h4 Categorías

    - if !@categories.empty?
      - @categories.each do |category|
        = render category
    - else
      %p No hay ninguna categoría aún
    
    - if current_user_admin?
      .category-add-tab
        = link_to new_category_path, id: 'new-category-btn', remote: true do
          %span.glyphicon.glyphicon-plus

    .category-form

  / Products
  #products
    = render 'search_bar'
    
    .product-index
      = render @products
      = render 'layouts/aligner'

    .product-creation
      - if current_user_admin?
        #new-product-button
          = link_to "Nuevo producto", new_product_path, class: 'btn btn-primary'
