<div id="header">
	<!-- Navigation bar -->
	<nav class="navbar">
		<ul class="nav navbar-nav">
			<li>
				<%= link_to root_path do %>
					<span class="glyphicon glyphicon-home"></span>
				<% end %>
			</li>
			<li><%= link_to 'Productos',   products_path %></li>
			<li><%= link_to 'Información', info_path     %></li>
			<li><%= link_to 'Contacto',    "#" %></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to 'Acceso', "#" %></li>
			<li><%= link_to 'Registro', signup_path %></li>
		</ul>
	</nav>
</div>