#header
	%nav
		= link_to root_path do
			%span.glyphicon.glyphicon-home
		= link_to 'Productos',   products_path
		= link_to 'Información', info_path
		= link_to 'Contacto',    "#"

		- if user_signed_in?

			= link_to "Carro",   cart_path(current_user.cart.id)			
			= link_to "Perfil",  current_user
			= link_to "Salir",   destroy_user_session_path , method: :delete
			
		- else

			= link_to 'Acceso',   new_user_session_path
			= link_to 'Registro', new_user_registration_path

	- if home
		/ Brand section
		#fridge
			= image_tag 'fridge.png'
		#brand
			%h1 La Nevera
			%h2 Tu tienda de congelados

		/ Search bar
		#search-bar
			= form_tag products_path, method: 'get', class: 'search' do
				= text_field_tag :search, params[:search], placeholder: "Buscar producto...", class: 'form-control'
				= button_tag(type: 'submit', id: 'search-submit', name: nil) do
					%span.glyphicon.glyphicon-search


.side-nav
	- if current_user_admin? && !home
		%nav
			%p Admin
			= link_to "Ofertas", offers_path
			= link_to "Compras", purchases_path

	- else
		.info
			.field
				%span.glyphicon.glyphicon-earphone
				&nbsp; &nbsp;
				2710 5858
