!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    / Mapbox
    %script{ :src => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js" }
    %link{ :href => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css", :rel => "stylesheet" }/

    / Specific includes
    = yield :javascript_includes

    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    .container-fluid
      - if !yield(:title).empty?
        = render 'layouts/header'
      - else
        = render 'layouts/home_header'

      #content
        = render 'shared/alerts' if flash.present?
        = yield

      = render 'layouts/footer'
      
      / = debug(params) if Rails.env.development?